# Backend specific ignores
/backend/.phpunit.cache
/backend/node_modules
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/storage/pail
/backend/vendor
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpactor.json
/backend/.phpunit.result.cache
/backend/Homestead.json
/backend/Homestead.yaml
/backend/auth.json
/backend/.styleci.yml

# Frontend specific ignores
/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/*.local

# Common ignores (Logs, Editor files, OS files)
logs/ 
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.idea/
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?